[Unit]
Description=gosuki bookmark manager daemon

[Service]
ExecStart=PATH_TO_GOSUKI_BINARY start
#Environment="GOSUKI_DEBUG=2"
TimeoutStartSec=10
PIDFile=%t/gosuki.pid

[Install]
WantedBy=basic.target
