.python-version
node_modules
.cache
dist
*.log
_master

.vscode
.gonvim
_wt_tmp
places.sqlite-shm
places.sqlite-wal
_maintest.go
gosuki
!cmd/gosuki
gosuki.db
build
internal/ui/static/pico-main
internal/ui/static/main.zip
.air.toml
.aider*
mods/generated_imports.go
generate/generated_imports.go
!pkg/build
*sqlite-shm
*sqlite-wal
